*{
	margin: 0;
	padding: 0;
}
em,i{
	font-style: normal;
}
li{
	list-style: none;
}
img{
	border:0;
	vertical-align: middle;
}
button{
	cursor: pointer;
}
a{
	color: #2f2001;
	text-decoration: none;
}
a:hover{
	color: #af4c0a;
}
body{
	-webkit-font-smoothing:antialiased;
	color: #2f2001

}
.clearfix:after{
	visibility: hidden;
	clear: both;
	display: block;
	content:"";
	height: 0;
}